<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "canary3-base.html"%}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class = 'container'>
    <h1>Updated logs as follows:</h1>

<table class = "table table-hover table-bordered">
  <thead>
   <tr>
     <th scope="col">Time of Update</th>
     <th scope="col">Patient ID</th>
     <th scope="col">Doctor in Charge</th>
     <th scope="col">Nurse in Charge</th>
     <th scope="col">Diet</th>
     <th scope="col">Ambulant</th>
     <th scope="col">Code</th>
     <th scope="col">Updated by</th>
   </tr>
 </thead>

{% for cumulog in cumulogs %}
<tr>
  <td>{{cumulog.timestamp}}</td>
  <td>{{cumulog.patient_id}}</td>
  <td>{{cumulog.doctor_in_charge}}</td>
  <td>{{cumulog.nurse_in_charge}}</td>
  <td>{{cumulog.diet}}</td>
  <td>{{cumulog.ambulant}}</td>
  <td>{{cumulog.code}}</td>
  <td>{{cumulog.updated_by}}</td>
</tr>
{%  endfor %}
</table>
</div>
  </body>
  {% endblock %}
</html>
